$color-white                                    : #fff
$color-black                                    : #000
$color-heading-grey                             : #222
$color-body-grey                                : #444
$color-light-grey                               : #999

$base-font-stack                                : "Open Sans", Helvetica, Arial, sans-serif
$heading-font-stack                             : "Source Sans Pro", Helvetica, Arial, sans-serif

$base-background-color                          : $color-white
$base-text-color                                : $color-body-grey