<div class="col-md-push-2 col-md-10 col-md-pull-2">
  <% for(slug in public.projects._data.posts) { %>
    <% var project = public.projects._data.posts[slug] %>
    <% if(project.published !== false || environment=='development') { %>
      <% var classes = project.published == false ? 'unpublished' : '' %>
      <a class="<%- classes %>" href="/projects/<%- slug %>"><%- project.title %></a>
    <% } %>
  <% } %>
</div>