<div class="col-md-2">
  <div class="sidebar">
    <p><%- partial("_shared/_tagline") %></p>
  </div>
</div>
<div class="col-md-10">
  <div class="content">
    <p class="hero-strapline">I <em>really, really</em> like making the internet.</p>
  </div>
</div>
<div class="col-md-7 col-sm-9">
  <div class="content">
    <p>I am the head of product for the London-based crowdfunding publisher, <a href="http://unbound.co.uk">Unbound</a>. Previously I was a co-founder of the social film site <a href="#" title="Goodfilms lets you and your friends share movie reviews, keep a list of films to watch, and help you find where online you can legally stream your favourites.">Goodfil.ms</a>, and of the agency collective Codename.</p>
    <p>Previously I have worked as a technical lead and lead developer at a top Melbourne agency, and have taken on development and design roles in London, Perth and Melbourne. I have designed, built and managed everything from large-scale international projects through to small-scale labours of love.</p>
    <figure>
      <img class="img-responsive" src="images/me-looking-awkward.jpg" alt="Thanks to John Barton for the photo." />
      <figcaption>Photo by <a href="http://whoisjohnbarton.com/" title="Who Is John Barton?">John Barton</a>, proving that I can look awkward from any angle.</p></figcaption>
    </figure>
    <p>I work primarily with standards compliant HTML, progressively enhanced CSS, JavaScript / Coffeescript and Ruby / Rails. I am focused on accessible and usable front end development and back-end applications based around the MVC architecture. I have managed small and large teams, set up various internal processes for agencies and studios alike, balanced multiple third-party suppliers and implemented bespoke test plans with great success.</p>
    <blockquote>
      <p>"Charlie has a unique, articulate, polished understanding of design, art and how people interact and care for one another."</p>
      <footer>— Will Dayble, <a href="https://www.squareweave.com.au/" title="Squareweave is a technology agency that specialises in providing digital solutions for impact, and they're just super great.">Squareweave</a></footer>
    </blockquote>
    <p>I am a fast learner, and thrive in challenging environments that offers opportunities for professional growth. Mostly I want to surround myself with people who are as excited about the web as I am.</p>
    <p>In my spare time I like to work on micro projects, from <a title="Tweetflight" href="http://tweetflight.wearebrightly.com">tweet-based music videos</a> to <a title="This Kind Of Agility?" href="http://thiskindofagility.com">Arrested Development random episode selectors</a>. I believe that few things can’t be solved with well-constructed semantic markup.</p>
  </div>
</div>
<div class="col-md-3 col-sm-3">
  <div class="content content-border-on-small">
    <h1 class="title-formal">Education</h1>

    <ul class="list-unstyled list-small list-spaced">
      <li><strong>Masters of Computer Science</strong></li>
      <li>RMIT University, Melbourne</li>
      <li>2011 - onwards (on hold)</li>
    </ul>

    <ul class="list-unstyled list-small list-spaced">
    <li><strong>Bachelor of Design (Multimedia Design) with First Class Honours</strong></li>
    <li>Swinburne School of Design, Melbourne</li>
    <li>2003 - 2007</li>
    </ul>

    <h1 class="title-formal">Awards and achievements</h1>

    <h2 class="title-bold">2014</h2>

    <ul class="list-unstyled list-small list-spaced">
      <li>Futurebook Innovation Awards Shortlist, Best Publisher Website, Unbound</li>
    </ul>

    <h2 class="title-bold">2013</h2>

    <ul class="list-unstyled list-small list-spaced">
      <li>Google Sandbox, Tweetflight</li>
      <li>The FWA, Site of the Day, Tweetflight</li>
      <li>AWWWARDS, Site of the Day, Tweetflight</li>
    </ul>

    <h2 class="title-bold">2011</h2>
    
    <ul class="list-unstyled list-small list-spaced">
      <li>AWWWARDS, Site of the Day, The Story of Mick Roberts</li>
      <li>Caples, Silver, Pop What You're Not</li>
      <li>Award, Bronze, Pop What You're Not</li>
    </ul>

    <h2 class="title-bold">2010</h2>

    <ul class="list-unstyled list-small list-spaced">
      <li>AIMIA, Nomination for effectiveness, Pop What You're Not</li>
      <li>ADMA, Bronze for Art Direction / Craft, Pop What You're Not</li>
      <li>ADMA, Silver for Automotive, Pop What You're Not</li>
      <li>MADC, Bronze for Best Microsite, Pop What You're Not</li>
    </ul>

    <h2 class="title-bold">2007</h2>

    <ul class="list-unstyled list-small list-spaced">
      <li>Design Institute of Australia, Encouragement Award</li>
    </ul>
  </div>
</div>