<div class="col-md-2">
  <div class="sidebar">
    <p><%- partial("_shared/_tagline") %></p>
  </div>
</div>
<div class="col-md-8">
  <div class="content">
    <p class="hero">I really, really like making the internet.</p>
    <p>I was a co-founder of the social film site Goodfil.ms, and of the agency collective Codename.</p>
    <p>Previously I have worked as a technical lead and lead developer at a top Melbourne agency, and have taken on development and design roles in London, Perth and Melbourne. I have designed, built and managed everything from large-scale international projects through to small-scale labours of love.</p>
    <p>I work primarily with standards compliant HTML, progressively enhanced CSS, JavaScript / Coffeescript and Ruby / Rails. I am focused on accessible and usable front end development and back-end applications based around the MVC architecture. I have managed small and large teams, set up various internal processes for agencies and studios alike, balanced multiple third-party suppliers and implemented bespoke test plans with great success.</p>
    <p>I am a fast learner, and thrive in challenging environments that offers opportunities for professional growth. Mostly I want to surround myself with people who are as excited about the web as I am.</p>
    <p>In my spare time I like to work on micro projects, from tweet-based music videos to Arrested Development random episode selectors. I believe that few things can’t be solved with well-constructed semantic markup.</p>
  </div>
</div>