<div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-6">
  <div class="welcome">
    <p class="welcome-hero"><%- partial("_shared/_tagline") %></p>
    <p>I am look after design and front-end development for the London-based crowdfunding publisher, <a href="http://unbound.co.uk" title="">Unbound</a>.</p>
    <p>Previously I was the designer and front-end developer for the Rails based social film site <a href="http://goodfil.ms" title="Goodfilms lets you and your friends share movie reviews, keep a list of films to watch, and help you find where online you can legally stream your favourites.">Goodfil.ms</a>, and for the agency collective Codename.</p>
    <p>I believe that few things can’t be solved with well-constructed semantic markup. I am also pretty keen on <a href="http://medium.com/@superhighfives/" title="@superhighfives on Medium">writing</a>, <a href="http://flickr.com/superhighfives" title="Photos on Flickr">photography</a>, typography and winter.</p>
    <p>Unfortunately, I do not tan.</p>
  </div>
</div>