<div class="col-md-push-2 col-md-6 col-md-pull-4">
  <div class="welcome">
    <p class="welcome-hero"><%- partial("_shared/_tagline") %></p>
    <p>I am the head of product for the London-based crowdfunding publisher, <a href="http://unbound.co.uk" title="">Unbound</a>.</p>
    <p>Previously I was the designer and front-end developer for the Rails based social film site <a href="http://goodfil.ms" title="Goodfilms lets you and your friends share movie reviews, keep a list of films to watch, and help you find where online you can legally stream your favourites.">Goodfil.ms</a>, and for the agency collective Codename.</p>
    <p>I believe that few things can’t be solved with well-constructed semantic markup. I am also pretty keen on photography, cooking, typography and winter.</p>
    <p>Unfortunately, I do not tan.</p>
  </div>
</div>