<div class="col-md-push-2 col-md-6 col-md-pull-4">
  <div class="welcome">
    <p class="welcome-hero"><%- partial("_shared/_tagline") %></p>
    <p>I work as a designer and front-end developer for the Rails based social film site Goodfil.ms, and for the agency collective Codename.</p>
    <p>I believe that few things can’t be solved with well-constructed semantic markup. I am also pretty keen on photography, cooking, typography and winter.</p>
    <p>Unfortunately, I do not tan.</p>
  </div>
</div>