<ul class="header-navigation list-inline">
  <% var path = current.path[0] %>
  <li><a class="<%= path == 'about' ? 'selected' : '' %>" href="/about">About / Resum&eacute;</a></li>
  <li><a class="<%= path == 'projects' ? 'selected' : '' %>" href="/projects">Projects</a></li>
  <li><a class="<%= path == 'writing' ? 'selected' : '' %>" href="/writing">Writing</a></li>
  <li class="header-contact"><a href="mailto:hi@charliegleason.com">Contact <span class="header-contact-email">hi@charliegleason.com</span></a></li>
</ul>