<ul class="header-social list-inline">
  <li><a href="http://twitter.com/superhighfives" class="social-icon">Twitter</a></li>
  <li><a href="http://github.com/superhighfives" class="social-icon">Github</a></li>
  <li><a href="http://dribbble.com/superhighfives" class="social-icon">Dribbble</a></li>
  <li><a href="mailto:hi@charliegleason.com" class="social-icon">Email</a></li>
</ul>