<% function parseDate(string) {
  var date = new Date(Date.parse(article.date));
  return {
    "year": date.getFullYear(),
    "month": date.getMonth(),
    "day": date.getDay()
  }
} %>

<div class="col-md-push-2 col-md-10 col-md-pull-2">
  <p>Writing</p>
  <div class="posts">
    <% var articles = public.writing._data.posts; %>
    <% for(key in articles) { %>
      <% var article = public.writing._data.posts[key]; %>
      <% article.formatted_date = parseDate(article.date) %>
      <div class="post">
        <%- article.formatted_date.day %>
        <%- article.formatted_date.month %>
        <%- article.formatted_date.year %>
        <%- article.title %>
      </div>
    <% } %>
  </div>
</div>